@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (!string.IsNullOrEmpty(Model.LoginMessage))
{
    <div>@Model.LoginMessage</div>
}
<form method="post" asp-page-handler="Login">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>


